body {
    font-family: "Lato", sans-serif;
    background-color: #D5D5D5;
}

#navList {
    list-style: none;
}

.nav {
    height: 100%;
    width: 250PX;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #88BDBC;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
}

.nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #4F4A41;
    display: block;
}

.nav a:hover {
    color: #D5D5D5;
}

.nav a.currentpage {
    background-color: #D5D5D5;
    color: #4F4A41;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.messageNav {
    width: 250PX;
    background-color: #88BDBC;
    box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
}

.messageNav a {
    padding: 8px 8px;
    text-decoration: none;
    color: #4F4A41;
    display: block;
}

.messageNav a:hover {
    color: #D5D5D5;
}

.messageNav a.currentpage {
    background-color: #D5D5D5;
    color: #4F4A41;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

#card {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F7F9FB;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

#card h1 {
    text-align: center;
}

#card h3 {
    text-align: center;
}
#card #login {
    text-align: center;
}

#logout {
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

#footer {
    font-size: 12px;
    margin-left: 10px;
    background-color: #F7F9FB;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
    text-align: center;
}